# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
src/assets/video/1993.mp4
src/assets/video/1997_Anfang.mp4
src/assets/video/1997_Rest.mp4
src/assets/video/2015_FF-Fest.mp4
src/assets/video/2016_FF-Heuriger.mp4
src/assets/video/2016_Replay_Komplett_mitLowerThird_FIN.mp4
src/assets/video/2017_FF-Heuriger Grillenberg.mp4
src/assets/video/2017_Replay.mp4
src/assets/video/2018_FF-Heuriger.mp4
src/assets/video/2019_FF-Heuriger.mp4
src/assets/video/2022_FF-Heuriger.mp4
src/assets/video/2023_FF-Heuriger.mp4
public/3rdpartylicenses.txt
public/chunk-2RXX4IT6.js
public/chunk-2YSZFPCQ.js
public/chunk-4CNBGM4K.js
public/chunk-4WFVMWDK.js
public/chunk-6CSKM2AX.js
public/chunk-6KB6RWXN.js
public/chunk-7KJOJV43.js
public/chunk-42C7ZIID.js
public/chunk-57YRIO75.js
public/chunk-255V6VFX.js
public/chunk-BVK2AW3H.js
public/chunk-C5RQ2IC2.js
public/chunk-CQHD654J.js
public/chunk-CTQF3OBV.js
public/chunk-D7YYRZS5.js
public/chunk-H3YLVLX7.js
public/chunk-H6KQGLIG.js
public/chunk-IZKO7PVV.js
public/chunk-JSOTLWAA.js
public/chunk-M2X7KQLB.js
public/chunk-NPFCDDP4.js
public/chunk-PLBLC5EF.js
public/chunk-REYR55MP.js
public/chunk-RV646ED4.js
public/chunk-UYOKND6Q.js
public/chunk-UZV3HLER.js
public/chunk-W6YQFEWQ.js
public/chunk-WESY2VG5.js
public/chunk-WGCPM53W.js
public/chunk-XE7SE23J.js
public/chunk-XV247VAB.js
public/chunk-Z6ZGNRNA.js
public/chunk-ZGUXYWMS.js
public/index.html
public/main-YIDJ2OWU.js
public/polyfills-6BIPK22E.js
public/prerendered-routes.json
public/styles-TJWTTEO3.css
public/assets/FFG_Bacardi_Logo.png
public/assets/shapes.svg
public/assets/icon/favicon.png
