.banner-card{
    position: fixed;
    top: 85%;
    width: 98%;
}
ion-card-header {
    font-weight: bolder;
    font-size: xx-large;
    padding: 3px;
    padding-left: 10px;
    margin: 0;
}
ion-card-content {
    padding: 5px;
    margin: 0;
}
p {
    font-size: 5vh;
    font-weight: bolder;  
    padding: 0px;
    margin: 0;
    color:black;
}
.banner {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(243,212,212);
  padding: 3px;
  position: relative;
  margin: 0;
}

.scroll-container {

  display: inline-block;
  animation: scroll-text 240s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(95vw);
  }
  to {
    transform: translateX(-100%);
  }
}
