.banner-card{
    position: fixed;
    top: 85%;
    width: 98%;
}
ion-card-header {
    font-weight: bolder;
    font-size: xx-large;
}
p {
    font-size: xx-large;
    font-weight: bolder;  
}
.banner {
  font-size: x-large;

  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(243,212,212);
  padding: 10px;
  position: relative;
}

.scroll-container {

  display: inline-block;
  animation: scroll-text 120s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(95vw);
  }
  to {
    transform: translateX(-100%);
  }
}
