.banner-card{
    position: fixed;
    top: 85%;
    width: 98%;
}
ion-card-header {
    font-weight: bold;
    font-size: x-large;
}
p {
    font-size: x-large;
}
.banner {
  font-size: x-large;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f5f5f5;
  padding: 10px;
  position: relative;
}

.scroll-container {
    
  display: inline-block;
  animation: scroll-text 60s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
