<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../assets/FFG_Bacardi_Logo.png" slot="end" class="logo" />
    <ion-title>
      FF Grillenberg Infoscreen
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FF Grillenberg Infoscreen</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-button href="videoplayer">Play Videos</ion-button>
      <ion-button href="videoplayer/beer_donations">Play Videos mit Spenden</ion-button>
    </ion-item>
    <ion-item>
      <ion-button href="competitions">Bewerbe</ion-button>
    </ion-item>
    <ion-item>
      <ion-button href="beer-editor">Bierfass-Spenden</ion-button>
    </ion-item>
    
  </ion-list>

</ion-content>
